
#header {
	text-align: center;
}

#editor-panel {
	margin: 0 auto;
	width: 800px;
}

#code-under-review {
    position: absolute;
    width: 800px;
    height: 600px;
	border: 1px solid black;
}

#code-review {
	float: left;
	position: relative;
}

#upload-a-code-review {
	float: right;
}

#upload-a-code-review input {
	display: block;
}
