#{extends 'site_layout.html' /}

#{set 'moreScripts'}
	#{script 'ace/ace.js' /}
	#{script 'ace/mode-java.js' /}
	#{script 'ace/theme-clouds_midnight.js' /}
	#{script 'jquery/jquery-1.6.1.min.js' /}
	#{script 'jquery/jquery.json-2.2.min.js' /}
	#{script 'form.js' /}
	#{script 'text-editor-builder.js' /}
	#{script 'text-editor.js' /}
	#{script 'server-message-builder.js' /}
	#{script 'server-message.js' /}
	#{script 'json.js' /}
	#{script 'review-comment-repository.js' /}
	#{script 'review-comment.js' /}
	#{script 'user.js' /}
#{/set}

<script>
window.onload = function() {

		var textEditor = TextEditorBuilder.create().atElement("code-under-review").isEditable().build();
		var whatILikeRepository = ReviewCommentRepository.create('#what-i-like');
		var whatIDontLikeRepository = ReviewCommentRepository.create('#what-i-dont-like');
				
		Form.create('#upload-a-code-review-form').onSubmit(function() {
			var message = ServerMessageBuilder.create()
								.postTo('/upload')
								.data({'json' : Json.createFrom(textEditor.getLinesOfText()), 
									   'name': $('#name').attr("value"),
									   'thingsILike': Json.createFrom(whatILikeRepository.all()),
									   'thingsIDontLike': Json.createFrom(whatIDontLikeRepository.all()) })
								.onSuccess(function(response) {
									document.location = response.redirectTo;
								})
								.build();
			message.send();
		});
		
		
		$('#add-what-i-like').click(function() {
			var whatILike = User.ask("what do you like about it?");
			whatILikeRepository.save(ReviewComment.create(whatILike, textEditor.getLineNumber()));
		});
		
		$('#add-what-i-dont-like').click(function() {
			var whatIDontLike = User.ask("what don't you like about it?");
			whatIDontLikeRepository.save(ReviewComment.create(whatIDontLike, textEditor.getLineNumber()));
		});
	};
</script>
<div id="header">
	<h1>Upload some code ye sonny jim</h1>
</div> 


<div id="editor-panel">
	<div id="code-under-review"></div>
</div>

<div id="code-review">
	<div id="metadata">
		<p><label>name</label><input type="text" id="name" name="name" /></p>
	</div>
	<div id="what-i-like">
		<p>+ <input type="button" id="add-what-i-like" value="add" /></p>
	</div>
	<div id="what-i-dont-like">
		<p>- <input type="button" id="add-what-i-dont-like" value="add" /></p>
	</div>
	<form id="upload-a-code-review-form" method="POST">
		<input type="submit" value="Save" />
		<a href="/">cancel</a>
	</form>
</div>

<div id="upload-a-code-review">
	
</div>