#{extends 'site_layout.html' /}

#{set 'moreScripts'}
	#{script 'ace/ace.js' /}
	#{script 'ace/mode-java.js' /}
	#{script 'ace/theme-clouds_midnight.js' /}
	#{script 'jquery/jquery-1.6.1.min.js' /}
	#{script 'jquery/jquery.json-2.2.min.js' /}
	#{script 'form.js' /}
	#{script 'text-editor-builder.js' /}
	#{script 'text-editor.js' /}
	#{script 'server-message-builder.js' /}
	#{script 'server-message.js' /}
	#{script 'json.js' /}
#{/set}

<script>
window.onload = function() {

		var textEditor = TextEditorBuilder.create().atElement("code-under-review").isEditable().build();

		Form.create('#upload-a-code-review-form').onSubmit(function() {
			var message = ServerMessageBuilder.create()
								.postTo('/upload')
								.data({'json' : Json.createFrom(textEditor.getLinesOfText()), 'name': $('#name').attr("value")})
								.onSuccess(function(response) {
									document.location = response.redirectTo;
								})
								.build();
			message.send();
		});
	};
</script>
<div id="header">
	<h1>Upload some code ye sonny jim</h1>
</div> 

<a href="/">cancel</a>

<div id="editor-panel">
	<div id="code-under-review"></div>
</div>

<div id="upload-a-code-review">
	<form id="upload-a-code-review-form" method="POST">
    	<p><label>name</label><input type="text" id="name" name="name" /></p>
    	<input type="text" id="code" name="code" value="cow" />
    	<input type="submit" value="Upload" />
	</form>
</div>