#{extends 'site_layout.html' /}

#{set 'moreScripts'}
	#{script 'ace.js' /}
	#{script 'mode-java.js' /}
	#{script 'theme-clouds_midnight.js' /}
	#{script 'jquery-1.6.1.min.js' /}
#{/set}

<script>
	window.onload = function() {
		editor = ace.edit("code-under-review");
		
		var JavaMode = require("ace/mode/java").Mode;
		editor.getSession().setMode(new JavaMode());
		editor.setReadOnly(true);
		editor.setShowPrintMargin(false);
		editor.setHighlightActiveLine(false);
		
		$("p[lineNumber]").click(function() {
			var lineNumber = $(this).attr("lineNumber");
			editor.gotoLine(lineNumber);
			editor.scrollToLine(lineNumber);
			editor.setHighlightActiveLine(true);
		});
	};
</script>

<div id="editor-panel">
	<div id="code-under-review">${codeReview.text}</div>
</div>
<div id="code-review">
	<div id="what-i-like">
		<p>+</p>
		#{list items:codeReview.thingsILike, as:'whatILike'}
		<p lineNumber="${whatILike.lineNumber}">${whatILike.content}</p>
		#{/list}
	</div>
	<div id="what-i-dont-like">
		<p>-</p>
		#{list items:codeReview.thingsIDontLike, as:'whatIDontLike'}
		<p lineNumber="${whatIDontLike.lineNumber}">${whatIDontLike.content}</p>
		#{/list}
	</div>
</div>
<div id="upload-a-code-review">
	<p>Upload a review</p>
	<form action="@{Application.uploadCodeReview()}" method="POST" enctype="multipart/form-data">
    	<p><label>name</label><input type="text" name="name" /></p>
    	<p><label>file</label><input type="file" name="codeReview" /></p>
    	<input type="submit" value="Upload" />
	</form>
	<a href="@{Application.add}">Upload some code</a>
</div>
